---
import Campground from "@core/assets/campground.png"
import type { ProjectCardProps } from "@core/types"
import { langColors } from "@core/utils"

const { name, description, lang, extra } = Astro.props as ProjectCardProps

const color = lang ? langColors[lang] ?? "#f6cc7a" : null
---

<div class="card flex flex-col gap-4 p-5 flex-self-stretch rounded-xl bg-container-low text-on-surface flex-grow w-full shadow-lg">
    <div class="inline-flex gap-2 items-center text-on-surface font-[500] text-sm">
        <img src={Campground.src} alt="" class="size-6 rounded-full" />
        Campground
    </div>
    <div class="flex flex-col w-full">
        <div class="text-on-surface text-xl font-[600]">{name}</div>
        <p class="text-sm">{description}</p>
    </div>
    <div class="inline-flex w-full gap-4 items-center text-sm">
        <div class="flex gap-3 items-center flex-wrap">
            {lang && (
                <div class="flex gap-1 items-center">
                    <span class="size-3 rounded-full" style={`background-color: ${color}`}></span>
                    <span class="text-xs">{lang}</span>
                </div>
            )}
            {extra && extra.length > 0 && (
                extra.map((item) => (
                    <div class="flex gap-1 items-center">
                        {typeof item.icon === "string" ? <img src={item.icon} alt="" class="size-4" /> : <item.icon class="size-4" />}
                        <span class="text-xs">{item.value}</span>
                    </div>
                ))
            )}
        </div>
    </div>
</div>
